.container{
    background:#2d3436;
}
.container7 {
    background: #576574;
}
.container6 {
    background: #c8d6e5;
}

.container6 .Security{
    color: blue;
}
.container5{
    background: #576574;
}
.container5 .Services{
   color: coral;
}